@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/gotham/gotham-pro.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
 font-family: 'Gotham Pro';
  src: url('/fonts/gotham/gotham-pro-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
 font-family: 'Gotham Pro';
  src: url('/fonts/gotham/gotham-pro-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/gotham/gotham-pro-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}