.layout-enter-active,
.layout-leave-active {
  transition: all 0.2s;
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-small {
  max-width: 1322px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-big {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  font-family: var(--font-gotham);
}

.button_shadow {
  box-shadow: 0px 8px 14px 0px #00000029;
}

.disable-scroll {
  overflow: hidden;
  height: 101vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 0.3125rem;
  background: transparent;
}
@media (max-width: 480px) {
  *::-webkit-scrollbar {
    display: none;
  }
}
*::-webkit-scrollbar-thumb {
  background: var(--color-green-105);
  padding: 1.875rem 0;
  border-radius: 20.9375rem;
}
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20.9375rem;
}

html .vfm--overlay {
  backdrop-filter: blur(0.625rem);
}
